<head>
    <link rel="stylesheet" href="\static\css\semantic.min.css">
    <link rel="stylesheet" href="\static\css\search.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="\static\css\semantic.min.js"></script>
</head>
<body>
    <div class="left">
    <div class="ui vertical menu">
        <div class="item">
            <div class="ui input"><input type="text" placeholder="搜索..."></div>
        </div>
        <div class="item">
            你好，{{username}}
            <div class="menu">
            <a class="item" href="/index/">首页</a>
                <a class="item" href='/search/'>搜索</a>
                <a class="active item" href="/addTask/">添加</a>
                
            </div>
        </div>
        
        <a class="item" href="/info/">
            信息
        </a>
       <a class="item" href="/loginout/">
            登出
        </a>
    </div>
    </div>
    <div class="right">
        <h2 class="ui header">
        <img class="ui image" src="https://zijieke.com/semantic-ui/images/icons/school.png">
        <div class="content">
            首页
        </div>
        <div class="ui raised very padded text container segment">
        <h2 class="ui header">开始</h2>
        <p>此网站为爬虫系统，主要爬取几个主流大型网站的数据</p>
        <h3 class="ui header">模板采集</h3>
        <p>
        模板采集模式内置上百种主流网站数据源，如京东、天猫、大众点评等热门采集网站，只需参照模板简单设置参数，就可以快速获取网站公开数据</p>
        <h3 class="ui header">智能采集</h3>
        <p>采集可根据不同网站，提供多种网页采集策略与配套资源，可自定义配置，组合运用，自动化处理。从而帮助整个采集过程实现数据的完整性与稳定性。</p>
        </div>
        
        
    </div>
</h2>

</body>
